#shipments {
    background: rgba(255, 255, 255, 1);
    height:100vh;
}

#shipments .card {
    margin-bottom: 10px;
}

#shipments .container-fluid {
    margin-top: 30px;
}

#shipments .bold {
    font-weight: bold;
}

#shipments .card-text {
    font-size: 80%;
}

#shipments p {
    margin: 2px;
}

#shipments .filtersCardTitle {
    text-align: center;
}

#shipments .loadingGif {
    z-index: 9999;
    position:fixed;
    top: 50%;
    left: 50%;
}

#shipments .btn-smoothblue {
    background-color: #008aa3;
    border-color: #008aa3;
    color: white;
    white-space: normal;
  }