#login .centered {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login .login-text {
    color: white;
    text-align:center;
}

#login .login-button {
    text-align:center;
}